data/B73_v5_per_chr/chr1.fa
data/B73_v5_per_chr/chr2.fa
data/B73_v5_per_chr/chr3.fa
data/B73_v5_per_chr/chr4.fa
data/B73_v5_per_chr/chr5.fa
data/B73_v5_per_chr/chr6.fa
data/B73_v5_per_chr/chr7.fa
data/B73_v5_per_chr/chr8.fa
data/B73_v5_per_chr/chr9.fa
data/B73_v5_per_chr/chr10.fa
